<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no viewport-fit=cover user-scalable=no">

<!-- Default Site info -->
<title><$-title$></title>
<meta name="title" content="<$-title$>">
<meta name="description" content="<$-description$>" />
<meta name="keywords" content="<$-keyword$>" />
<meta name="apple-mobile-web-app-title" content="spacetagram">

<link rel="canonical" href="">