<%
const ejs =require('ejs');
ejs.delimiter = '$';
var meta = require('/src/ejs/template/meta.ejs')();
%>

<%- require("/src/ejs/include/doctype-en.ejs")() %>
<head>
    <%-ejs.render(meta, {
        title : htmlWebpackPlugin.options.title,
        description : htmlWebpackPlugin.options.description,
        url : htmlWebpackPlugin.options.url,
        keyword : htmlWebpackPlugin.options.keyword
    })%>
</head>
<body>
    <main>
        <div class="viewport">
            <div class="app index" id="main">
                <div class="content">
                    <h1 class="heading-title motion">
                        <span>Spacestagram</span>
                        <a href="https://github.com/jeus0630/NASA" target="_blank" class="github-link">Github Link!</a>
                    </h1>
                    <span class="sub-tit motion">Brought to you <br class="_m"> by NASA's image API</span>
                    <ul class="list">

                    </ul>
                </div>
            </div>
        </div>
    </main>
</body>
</html>