@charset "utf-8";

// ---------------------------------- buttons ---------------------------------- //
button,
a {
    display: inline-block;
}

.link{
    a{
        &:after{
            content: ">";
            display: inline-block;
            vertical-align: middle;
            @include calc-prop-set('margin-left', 7px, 0);
        } 
    }
}
